asgiref==3.11.0
charset-normalizer==3.4.4
Django==5.2.10
numpy==2.4.1
pandas==2.3.3
pillow==12.1.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.9
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
